@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: rgb(29, 109, 49);
}

.milegreen {
    color: #23c423 !important;
}

.milegreen-button {
    background-color: #23c423 !important;
}

.milegreen-title {
    color: #00ff00 !important;
}

.active-menu {
    background-color: #292929 !important;
}